:root {
  --padding-mobile: 20px;
  --padding-tablet: 50px;
  --padding-desktop: 100px;
  --primary-color: #fff;
  --secondary-color: #3a8edd;
  --border-color: #9996;
  --color-primary-text: #000;
  --color-secondary-text: #9996;
  --color-footer: rgb(32, 32, 32);;
}

/* == Reset == */
*{
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: rgb(221, 221, 221);
}
h1, h2, h3, h4, p, ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul{
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 300px;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1;
}